*{
    margin: 0;
    padding:0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding:10px;
    display: flex;
    justify-content: space-between;
    border-bottom: black solid 1px;
    gap:10px;
}
.navbar__s1__title{
    color:#A435F0;
}
.navbar__s2{
    padding: 10px;
    border: black solid 1px;    
    border-radius: 30px;
    width:100%;
    display: flex;
    gap: 10px;
   
}
.navbar__s2 input{
    border: none;
    width:150%;
    font-size: 16px;
}

.navbar__s2 input:focus{
    outline: none;
}
.navbar_s3{
    width:60%;
    display: flex;
    
   
}
.course{
    padding-top:10px;
    padding: 10px;
    
}
.icon{
    padding-top: 10px;
    padding:10px;
}
.categories{
    display: flex;
    padding: 10px;
    border:black solid 1px;
    justify-content: space-around;
}
.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;

}
.sale-img img{
width: 100%;
}
.recommended{
    padding: 10px;
}
.recommended-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}
.course-card{
    width:300px;
}
.course-card img{
    width:100%;
    height: 50%;
}
.topics{
    padding: 10px;
}
.topics-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    
}
.topics-container p{
    border:solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    
}
.popular{
    padding: 10px;
}
.popular-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 10px;
}
.footer-1{
    display: flex;
    gap: 10px;
}
.footer-2{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.footer{
    padding: 30px;
    background-color: black;
    color:white;
}
.footer-1 p{
    margin: 20px;
}